{% extends 'base.html' %}

{% load static %}

{% block title %}
  Main Page
{% endblock %}

{% block content%}
  <!--Main layout-->
  <main>
    <div class="container">
        <div class="table-responsive text-nowrap">
        <h2>Order Summary</h2>
          <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Item title</th>
        <th scope="col">Picture</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total Price</th>
      </tr>
    </thead>
    <tbody>
    {% for order_item in object.items.all %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ order_item.item.title }}</td>
        <td><img height="100" width="100" src="{{ order_item.item.image.url }}"></td>
        <td>${{ order_item.item.price }}</td>
        <td><a
                href="{% url 'core:remove-single-item-from-cart' order_item.item.slug %}"><i
                class="fas fa-minus mr-2"></i></a>{{ order_item.quantity }}<a href="{% url 'core:add-to-cart' order_item.item.slug %}"><i
                class="fas fa-plus ml-2"></i></a></td>
        <td>
        {% if order_item.item.discount_price %}
          ${{ order_item.get_total_item_discount_price }}
          <span class="badge badge-primary">Saving ${{ order_item.get_amount_saved }}</span>
        {% else %}
            ${{ order_item.get_total_item_price }}
        {% endif %}
        <a style="color:red;" href="{% url 'core:remove-from-cart' order_item.item.slug %}">
          <i class="fas fa-trash float-right"></i>
        </a>
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="5"><h5>Your cart is empty</h5></td>
      </tr>
      <tr>
        <td colspan="5">
            <a class="btn btn-light-blue float-right" href="/">Continue Shopping</a>
        </td>
      </tr>
    {% endfor %}

    {% if object.get_total %}
      <tr>
          <td colspan="4"><b>ORDER TOTAL</b></td>
          <td><b>${{ object.get_total }}</b></td>
      </tr>
      <tr>
        <td colspan="5">
          <a class="btn btn-amber float-right ml-2" href="{% url 'core:checkout' %}">Proceed to Checkout</a>
            <a class="btn btn-light-blue float-right" href="/">Continue Shopping</a>
        </td>
      </tr>
    {% endif %}

    </tbody>
  </table>

        </div>
    </div>
  </main>
  <!--Main layout-->
{% endblock %}
