<!--Footer-->
    <footer class="page-footer text-center font-small mt-4 wow fadeIn mt-auto">

      <br>
      <!-- Social icons -->
      <div class="pb-4">
        <a href="#" target="_blank">
          <i class="fab fa-facebook-f mr-3"></i>
        </a>

        <a href="#" target="_blank">
          <i class="fab fa-twitter mr-3"></i>
        </a>

        <a href="#" target="_blank">
          <i class="fab fa-youtube mr-3"></i>
        </a>

        <a href="#" target="_blank">
          <i class="fab fa-google-plus-g mr-3"></i>
        </a>

      </div>
      <!-- Social icons -->

      <!--Copyright-->
      <div class="footer-copyright py-3">
        © 2022 Copyright:
        <a href="{% url 'core:home' %}" target="_blank"> Ya Store </a>
      </div>
      <!--/.Copyright-->

    </footer>
    <!--/.Footer-->
